@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    color: inherit;
  }
  html {
    font-family: BYekan;
  }
}

@font-face {
  font-family: BYekan;
  src: url('/font/Shabnam.woff') format('woff');
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;

  &:hover {
    background: #555;
  }
}
